div.exchange-app {
	margin:60px!important;
}

div.input-field {
	padding-right:12px!important;
	min-width:312px;
}

div.input-label {
	min-width:96px;
}

div.currency-list {
	width:100%;
}

input.amount-input {
	width:100%;
}